.App {
  position: relative;
}
.testui {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 30px;
  color: white;
}
.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: lightskyblue;
  padding: 40px 30px;
  border-radius: 10px;
}
.menu-btn {
  width: 80px;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 8px;
}