.player-portrait {
    background: url('../public/assets/04_G.png') 0 0;
    width: 160px;
    height: 240px;
    position: absolute;
    top: 150px;
    left: 200px;
    background-size: 640px 960px;
}
.enemy-portrait {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 190px;
    right: 200px;
}
.battle {
    background-image: url('../public/assets/fightbg1.webp');
    width: 1080px;
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
}
.battle-text {
    position: absolute;
    bottom: 10px;
    left: 200px;
    width: 640px;
    height: 155px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    background-color: aqua;
    border-radius: 10px;
    padding: 20px;
}
.playerHp{
    position: absolute;
    left: 200px;
    top: 350px;
    border: 1px solid gray;
    overflow: hidden;
}
.enemyHp{
    position: absolute;
    right: 200px;
    top: 350px;
    border: 1px solid gray;
    overflow: hidden;
}
.playerFiller {
    border-radius: 25px 0 0 25px;
}
.playerMp{
    position: absolute;
    left: 200px;
    top: 380px;
    border: 1px solid gray;
    overflow: hidden;
}
.enemyMp{
    position: absolute;
    right: 200px;
    top: 380px;
    border: 1px solid gray;
    overflow: hidden;
}
.fight-option-section {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 464px;
    left: 220px;
    width: 640px;
}
.btn-fight-option {
    height: 50px;
    width: 120px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
}
.enemy-dmg-display {
    color: white;
    position: absolute;
    top: 120px;
    right: 240px;
    font-size: 46px;
    font-weight: 700;
}
.enemy-dmg-display-crit {
    color: yellow;
    position: absolute;
    top: 120px;
    right: 240px;
    font-size: 46px;
    font-weight: 700;
}
.player-dmg-display {
    color: red;
    position: absolute;
    top: 100px;
    left: 240px;
    font-size: 46px;
    font-weight: 700;
}
.player-dmg-display-crit {
    color: darkred;
    position: absolute;
    top: 100px;
    left: 240px;
    font-size: 46px;
    font-weight: 700;
}
